# Configuración del Servidor
PORT=3000

# Base de Datos
# Ruta absoluta o relativa al archivo .db
DB_PATH=./inventario.db

# Seguridad
# Cambie esta clave por una cadena larga y aleatoria en producción
JWT_SECRET=su_clave_secreta_aqui_12345
